.container {
    top: 30%;
    left: 10px;
    text-align: center;
}

.container h2 {
    font-size: 5rem;
}

.container a {
    font-size: 1.4rem;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    widht: 100%;
    height: 100%;
    z-index: -1;
}

.collection_title {
    margin-top: 447px;
    width: 100%;
    height: 60px;
    font-family: "Alegreya-thin";
    font-size: 48px;
    font-weight: 100;
    text-align: center;
    line-height: 60px;
    letter-spacing: 10px;
    color: #C8B22C;
}

.collection_item {
    display: block;
    margin-top: 70px;
}
