.container {
    text-align: center;
    background: #000;
}

.container h2 {
    font-size: 5rem;
}

.container a {
    font-size: 1.4rem;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    widht: 100%;
    height: 100%;
    z-index: -1;
}
