.tab-container {
    position: absolute;
    z-index: 100;
    top: 520px;
}

.tab {
    position: relative;
    display: inline-block;
}

.tab:nth-of-type(0) {
    margin-left: 57px;
}

.tab:nth-of-type(1) {
    margin-left: 199.26px;
}

.tab:nth-of-type(2) {
    margin-left: 172.05px;
}

.tab:nth-of-type(3) {
    margin-left: 285.82px;
}

i {
    color: #c2ac3d;
}
