@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import url(assets/css/animate.css);
@font-face {
    font-family: 'Alegreya-italic';
    src: url("./assets/fonts/AlegreyaSansSC-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: 'Alegreya-light';
    src: url('./assets/fonts/AlegreyaSansSC-Light.eot');
    src: url("./assets/fonts/AlegreyaSansSC-Light.ttf") format("truetype"), url('./assets/fonts/AlegreyaSansSC-Light.woff') format('woff'), url('./assets/fonts/AlegreyaSansSC-Light.svg#AlegreyaSansSC-Light') format('svg'), url('./assets/fonts/AlegreyaSansSC-Light.eot?#iefix') format('embedded-opentype')
}

@font-face {
    font-family: 'Alegreya-thin';
    src: url('./assets/fonts/AlegreyaSansSC-Thin.eot');
    src: url("./assets/fonts/AlegreyaSansSC-Thin.ttf") format("truetype"), url('./assets/fonts/AlegreyaSansSC-Thin.woff') format('woff'), url('./assets/fonts/AlegreyaSansSC-Thin.eot?#iefix') format('embedded-opentype')
}

body {
    position: relative;
    color: white;
    height: 100vh;
    background-color: #000;
    cursor: none;
    /* background-image: linear-gradient(45deg, rgba(0, 0, 0, .5) 10%, rgba(0, 0, 0, 1)); */
    font-family: Alegreya-light, Arial, Helvetica, Helvetica Neue, serif;
    overflow-y: hidden;
}

:focus {
    outline: 0;
}

a:focus {
    outline: 0;
}

.container {
    width: 100%;
    overflow-x: auto;
}

h2 {
    margin: 0;
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: -.025em;
    color: #fff;
}

p {
    font-size: 24px;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

.tab-container {
    position: relative;
    z-index: 100;
}

.menu-icon {
    width: 85px;
    height: 162px;
    display: inline-block;
    overflow: visible;
    transition: all 50ms linear;
    background-repeat: no-repeat;
}

.menu-icon.collection {
    background-image: url(assets/img/icons/collection.png);
    background-size: cover;
}

.menu-icon.wishlist {
    background-image: url(assets/img/icons/wishlist.png);
    width: 56px;
    height: 168px;
}

.menu-icon.wishlist-full {
    background-image: url(assets/img/icons/wishlist-rempli.png);
    width: 56px;
    height: 168px;
}

.menu-icon.veille {
    background-image: url(assets/img/icons/veille.png);
    width: 100px;
    height: 168px;
}

.menu-icon.bonhomme {
    background-image: url(assets/img/icons/essayage-blanc.png);
    height: 172px;
    width: 67px;
}

.menu-icon.selfie {
    background-image: url(assets/img/icons/selfie.png);
    width: 72.47px;
    height: 153px;
}

.menu-icon.storelocator {
    background-image: url(assets/img/icons/storelocator.png);
    width: 158px;
    height: 162px;
}

.tab.active .menu-icon.collection,
.menu-icon.collection:hover {
    background-image: url(assets/img/icons/collection-selected.png);
}

.tab.active .menu-icon.selfie,
.menu-icon.selfie:hover {
    background-image: url(assets/img/icons/selfie-selected.png);
}

.tab.active .menu-icon.storelocator,
.menu-icon.storelocator:hover {
    background-image: url(assets/img/icons/storelocator-selected.png);
}

.tab.active .menu-icon.veille,
.menu-icon.veille:hover {
    background-image: url(assets/img/icons/veille-selected.png);
}

.tab.active .menu-icon.wishlist,
.menu-icon.wishlist:hover {
    background-image: url(assets/img/icons/wishlist-selected.png);
}

.tab.active .menu-icon.wishlist-full,
.menu-icon.wishlist-full:hover {
    background-image: url(assets/img/icons/wishlist-rempli-selected.png);
}

.tab.active .menu-icon.bonhomme,
.menu-icon.bonhomme:hover {
    background-image: url(assets/img/icons/essayage-or.png);
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.container {
    position: static;
}


/*
APP TABS
*/

.tab-container {
    position: absolute;
    z-index: 100;
    top: 520px;
}

.tab-container .tab {
    position: relative;
    float: left;
    display: inline-block;
}

.tab-container .tab:nth-of-type(1) {
    margin-left: 57px;
}

.tab-container .tab:nth-of-type(2) {
    margin-left: 199.26px;
}

.tab-container .tab:nth-of-type(3) {
    margin-left: 172.05px;
}

.tab-container .tab:nth-of-type(4) {
    margin-left: 234.29px;
}


/*
// END APP TABS
*/


/*
COLLECTION LIST
*/

.collection-item {}


/*
// END COLLECTION LIST
*/


/*
NOTIFICATIONS
*/

.notification-zone .small {
    font-size: 36px;
}


/*
// END NOTIFICATIONS
*/


/*
ANIMATION
*/

.dim-menu {
    opacity: 0.1;
}

.fade-enter,
.page-transition-enter {
    opacity: 0;
    z-index: 1;
    transition: all 600ms ease-in;
}

.fade-enter.fade-enter-active,
.page-transition-enter.page-transition-enter-active {
    opacity: 1;
}

.fade-leave,
.page-transition-leave {
    opacity: 1;
    z-index: 1;
    transition: all 600ms ease-in;
}

.fade-leave.fade-leave-active,
.page-transition-leave.page-transition-leave-active {
    opacity: 0;
}

.page-slidedown-enter {
    opacity: 0;
    z-index: 1;
}

.page-slidedown-enter.page-slidedown-enter-active {
    opacity: 1;
    transform: translateX(2400px);
    transition: all 400ms ease-in;
}

.page-slidedown-leave {
    opacity: 1;
    z-index: 1;
    transform: translateX(0);
}

.page-slidedown-leave.fade-slidedown-active {
    opacity: 0;
    transform: translateX(2400px);
    transition: transform 300ms ease-in opacity 400ms;
}

.m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 400ms;
}

.m-fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 400ms;
}

.slideInOut-first {
    animation-duration: 10s;
    animation-name: slideinout;
    animation-direction: alternate;
}

.slideInOut-second {
    animation-duration: 3s;
    animation-delay: 3.5s;
    animation-name: slideinout;
    animation-direction: alternate;
}

@keyframes slideinout {
    from {
        visibility: 'visible';
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: 'hidden';
    }
}


/*
.transition-appear {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}

.transition-appear.transition-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.transition-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.transition-leave.transition-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}
*/

@keyframes glowing {
    from,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0.6;
    }
}

.glow {
    animation: glowing 3000ms infinite;
}


/*
// END ANIMATION
*/

.react-3d-carousel {
    width: 400px;
    height: 800px;
    position: relative;
    perspective: 1000px;
    margin: auto;
}

.react-3d-carousel .carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
}

.react-3d-carousel .carousel figure {
    display: block;
    position: absolute;
    width: 400px;
    height: auto;
    left: 10px;
    top: 10px;
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.react-3d-carousel .carousel figure {}

.react-3d-carousel .prev {
    position: absolute;
    height: 100%;
    width: 15%;
    top: 0px;
    left: 0px;
}

.react-3d-carousel .prev:before {
    content: url("http://s3.postimg.org/o6xpvkidb/chevron_left_white.png");
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 43px;
    height: 49px;
    margin: auto;
}

.react-3d-carousel .next {
    position: absolute;
    height: 100%;
    width: 15%;
    top: 0px;
    right: -5px;
}

.react-3d-carousel .next:before {
    content: url("http://s2.postimg.org/l0n6eaoad/chevron_right_white.png");
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 43px;
    height: 49px;
    margin: auto;
}

.carousel-container {
    margin: 200px auto;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

.carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.item {
    display: block;
    position: absolute;
    background: transparent;
    width: 250px;
    height: auto;
    line-height: 200px;
    font-size: 5em;
    text-align: center;
    color: #FFF;
    opacity: 0.99;
    border-radius: 0;
    border: none;
}


/*
.item {
    display: block;
    position: absolute;
    background: transparent;
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 5em;
    text-align: center;
    color: #FFF;
    opacity: 1;
    border-radius: 10px;
    transition: transform linear 300ms;
    z-index: 10;
    transform: translateX(250px) scale(0.5) !important;
}





.item.active {
    transform: scale(3) !important;
    transition: transform linear 350ms;
    z-index: 100;
}


.item:nth-of-type(1) {
    transform: rotateY(0deg) translateZ(250px);
    background: #ed1c24;
}

.item:nth-of-type(2) {
    transform: rotateY(60deg) translateZ(250px);
    background: #0072bc;
}

.item:nth-of-type(3) {
    transform: rotateY(120deg) translateZ(250px);
    background: #39b54a;
}

.item:nth-of-type(4) {
    transform: rotateY(180deg) translateZ(250px);
    background: #f26522;
}

.item:nth-of-type(5) {
    transform: rotateY(240deg) translateZ(250px);
    background: #630460;
}

.item:nth-of-type(6) {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
}

.item:nth-of-type(7) {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
}


.before {
    z-index: 20;
}

.after {}

*/

.item img {
    width: 100%;
}

.item img.fullscreen {
    width: 100%;
    transition: all 150ms linear;
    transform: scale(2.5);
    position: absolute;
    top: 600px;
    margin: -50%;
}

.next,
.prev {
    color: #444;
    position: absolute;
    top: 100px;
    padding: 1em 2em;
    cursor: pointer;
    background: #CCC;
    border-radius: 5px;
    border-top: 1px solid #FFF;
    box-shadow: 0 5px 0 #999;
    transition: box-shadow 0.1s, top 0.1s;
}

.next:hover,
.prev:hover {
    color: #000;
}

.next:active,
.prev:active {
    top: 104px;
    box-shadow: 0 1px 0 #999;
}

.next {
    right: 5em;
}

.prev {
    left: 5em;
}

.action-zone,
.action-zone.center {
    position: absolute;
    right: 0;
    top: 950px;
}

.action-zone.bottom {
    top: none;
    bottom: 138px;
    width: 153px;
}

.action-zone a {
    display: block;
    text-align: center;
    margin-bottom: 110px;
}

.footer-logo {
    position: fixed;
    bottom: 32px;
    width: 100%;
    text-align: center;
}

.footer-logo img {
    display: block;
    margin: auto;
    max-width: 150px;
}

.footer-logo .title {
    color: #C8B22C;
    font-family: 'Alegreya-thin';
    font-weight: 100;
    height: 57px;
    width: 474px;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: 15px;
    line-height: 57px;
    text-align: center;
}
